{# generate minimization code, save it to 'minim.mdp' #}
{% redirect 'em.mdp' %}
; minim.mdp - used as input into grompp to generate em.tpr
integrator	= steep		; Algorithm (steep = steepest descent minimization)
emtol		= 1000.0  	; Stop minimization when the maximum force < 1000.0 kJ/mol/nm
emstep      = {{energy_step_size}}      ; Energy step size (default: 0.01)
nsteps		= {{steps}}      ; Maximum number of (minimization) steps to perform (default: 5000)

; Parameters describing how to find the neighbors of each atom and how to calculate the interactions
nstlist		    = 1		    ; Frequency to update the neighbor list and long range forces
cutoff-scheme   = Verlet
ns_type		    = grid		; Method to determine neighbor list (simple, grid)
coulombtype	    = PME		; Treatment of long range electrostatic interactions
rcoulomb	    = {{r_coulomb}}		; Short-range electrostatic cut-off (default: 1.0)
rvdw		    = 1.0		; Short-range Van der Waals cut-off
pbc		        = xyz 		; Periodic Boundary Conditions (yes/no)
{% endredirect %}
{# generate shell script to call gromacs #}
{# this code assumes that <system_name>.top and .gro files exist #}
{% redirect 'minimize_energy.sh' %}
#!/bin/sh

# call gromp on em
gmx grompp -f em.mdp -c {{system_name}}.gro -p {{system_name}}.top -o em.tpr

# mdrun em
gmx mdrun -v -deffnm em -ntmpi 1

{% endredirect %}
/bin/sh ./minimize_energy.sh